<div class="container">
  <div class="row">
    <main class="col s12 z-depth-3" id="signup_main">
      <h3>Log In</h3>
      <% if user_signed_in? %>
        <p>Welcome <%= current_user.email %></p>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% else %>
      <div>
        <%= link_to 'Log in', new_user_session_path %>
        </div>
        <div>
        <%= link_to 'Sign up', new_user_registration_path %>
        </div>
      <% end %>
    </main>
  </div>
</div>
