<div class="container">
  <div class="row">
    <main class="col s12 z-depth-3 home-page">
      <h1 class="welcome">Chirpy</h1>
      <div class="flags">
      <%= image_tag("ireland.png") %>
      </div>
      <div class="flags">
      <%= image_tag("Sweden.png") %>
      </div>
      <div class="flags">
      <%= image_tag("Norway.png") %>
      </div>
      <div class="flags">
      <%= image_tag("United-Kingdom.png") %>
     </div>
    </main>
  </div>
</div>



