/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require reset
 *= require grid
 *= require pf
 *= require_self

 */

@import url(http://fonts.googleapis.com/css?family=Comfortaa);



html{
  background-color: #BAF8FF;
  background-image: url('sky.png');
  font-size: 70%;
  background-position: left;
/*  -webkit-animation: sky 80s linear infinite;*/
}

select{
  width: 20%;
}



.panel-heading{

    background-color: #F4F5ED;
    z-index: 10;
}

.flags{
  -webkit-transition: all .5s; /* Safari */
  transition: all .5s;
}

.flags:hover{
  -webkit-transform: scale3d(1.1,1.1,1.1);
}

a:link,
a:visited{
  text-decoration: none;
  color: inherit;
}

body{
  font-family: 'Fredoka One', cursive;
  background-color: none;
}

main.home-page{
  font-family: 'Comfortaa', cursive;
  color: #41280b;
  text-align: center;
}
main.home-page h1{
  margin-top: 0;
  color: #41280b;
    font-family: 'Fredoka One', cursive;
  margin-bottom: 50px;
}

main.home-page h2{

  color: #00A09D
}

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked{
  display: inline-block;
  position: static;
  left: 0;
  display: none;
}

h1{
  font-size: 50px;
  font-size: 5rem;
  margin: 20px;
  color: #41280b;
}
h2{
  font-size: 40px;
  font-size: 4rem;
  margin: 20px;
  color: #41280b;
}

h3{
  font-size: 30px;
  font-size: 3rem;
  margin: 20px;
}

main section{
  width: 20%;
  float: left;
  display: inline-block;
  margin-top: 30px;
}

header{
  padding: 20px;
}

header h2{
  color: #fff;
  text-shadow: 2px 2px 2px #41280b;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin: 0;
  font-size: 3rem;
}

header h2 a{
  background-image: url('logo.png');
  background-size: 85px 80px;
  background-repeat: no-repeat;
  padding-left: 80px;
}

header section{
  float: right;
  text-align: right;
  color: #00a09d;
  font-size: 18px;
  font-size: 1.8rem;
}

header a{
  padding: 20px;
}

.container .row.signup-main{
  width: 50%;
  margin: 0 auto;
}

input[type=text],
input[type=email],
input[type=password]{
  font-family: 'Comfortaa', cursive;
  font-size: 17px;
  font-size: 1.7rem;
  overflow: hidden;
  box-sizing: border-box;
  color: #000;
}
.chirpy-form label{
  position: static;
  text-transform: uppercase;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 10px;
  display: block;
  color: #00a09d;
  font-size: 1.5rem;
}

input[type=submit]{
  display: inline;
  color: #41280b;
}

#devise-shared{
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  color: #41280b;
}
.btn{
  margin-top: 10px;
}

.chirpy-form{
  padding: 20px;
}

.chirpy-form h2{
  text-align: center;
}

.form-page{
  background-color: #fff;
  background-size: cover;
  width: 50%;
  margin: 0 auto;
  -webkit-box-shadow: 1px 1px 17px 0px rgba(65, 40, 11, 0.75);
  -moz-box-shadow:    1px 1px 17px 0px rgba(65, 40, 11, 0.75);
  box-shadow:         1px 1px 17px 0px rgba(65, 40, 11, 0.75);
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
  background-color: #acacac;
}

#show-row{
  height: 80%;
}

#show-row h2{
  color: #41280b;
}

.user-lang-flag{
  width: 10%;
}

#main-app{
    -webkit-box-shadow: 1px 1px 17px 0px rgba(65, 40, 11, 0.75);
  -moz-box-shadow:    1px 1px 17px 0px rgba(65, 40, 11, 0.75);
  box-shadow:         1px 1px 17px 0px rgba(65, 40, 11, 0.75);
  background-color: #F4F5ED;
  position: relative;
  margin-bottom: 3rem;
}

#main-app label{
  display: block;
}

img.user-lang-flag{
  padding-left: 10px;
}

table.striped label{
  font-size: 2rem;
    color: #41280b;
    padding: 10px;
}

table.striped tr{
  padding: 10px;
}

#main-app table td{
  padding: 20px;
}

td img.user-lang-flag{
  width: 30%;
  padding-left: 10px;
}

#main-app h4{
  font-size: 2rem;
  color: #00a09d;
    font-family: 'Comfortaa', cursive;
  padding: 20px 0;
}


@-webkit-keyframes sky{
  0%{
    background-position: left;
  }
  50%{
    background-position: right;
  }
  100%{
    background-position: left;
  }
}


@media (max-width: 1000px){
  .container .row.signup-main{
    width: 80%;
    margin: 0 auto;
  }
}


@media (max-width: 600px){
  html{
    font-size: 50%;
  }
  header section {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  header.row{
    margin-bottom: 0;
  }
  main section{
    width: 100%;
  }
  .container{
    width: 100%;
    padding: 0;
    border-top: 1px black;
  }
  h1.login-center{
    margin-top: 0;
  }
  h2{
    width: 100%;
    text-align: center;
  }
  main.signup-main{
    height: 100%;
    box-shadow: none;
    background: none;
  }
  #devise-shared{
    width: 100%;
    display: block;
    position: static;
    text-align: center;
  }
  .btn{
    position: relative;
  }
  .forgot_password{
    float: none;
    text-align: center;
  }
  a:link{
    color: #41280b;
  }
  a:visited{
    color: #41280b;
  }
  .chirpy-form{
    margin-top: 30px;
  }
  main.home-page{
    padding: 0;
  }
  #logo-h2{
    color: #fff;
  }
  .flags{
    margin-top: 2rem;
  }

}
