/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require reset
 *= require grid
 *= require pf
 *= require_self

 */

@import url(http://fonts.googleapis.com/css?family=Comfortaa);

html{
  background-color: #BAF8FF;
  background-image: url('sky.png');
  font-size: 10px;
  background-position: left;
  -webkit-animation: sky 60s linear infinite;
}

a:link,
a:visited{
  text-decoration: none;
  color: inherit;
}
 
body{
  font-family: 'Fredoka One', cursive;
  background-color: none;
}

main.home-page{
  font-family: 'Comfortaa', cursive;
  color: #574331;
  text-align: center; 
}
main.home-page h1{
  margin-top: 0;
}
h1{
  font-size: 40px;
  font-size: 4rem;
  margin: 20px;
  color: #574331;
}
h2{
  font-size: 30px;
  font-size: 3rem;
  margin: 20px;
}

h3{
  font-size: 25px;
  font-size: 2.5rem;
  margin: 20px;
}

main section{
  width: 20%;
  float: left;
  display: inline-block;
  margin-top: 30px;
}

header{
  padding: 20px;
}

header h2{
  color: #fff;
  text-shadow: 2px 2px 2px #574331;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin: 0;
}

header h2 a{
  background-image: url('logo.png');
  background-size: 85px 80px;
  background-repeat: no-repeat;
  padding-left: 80px;
}

header section{
  float: right;
  text-align: right;
  color: #574331;
  font-size: 20px;
  font-size: 2rem;
}

header a{
  padding: 20px;
}

.container .row.signup-main{
  width: 50%;
  margin: 0 auto;
}

input[type=text],
input[type=email],
input[type=password]{
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  font-size: 2rem;
  overflow: hidden;
  box-sizing: border-box;
}
.input-field label{
  position: static;
  text-transform: uppercase;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 10px;
  display: block;
  color: #000;
}

input[type=submit]{
  display: inline;
}

#devise-shared{
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  color: #574331;  
}
.btn{
  margin-top: 10px;
}

.chirpy-form{
  padding: 20px;
}

#show-row{
  height: 80%;
}

#show-row h2{
  color: #574331; 
}


main.signup-main{
  background-image: url('birds.png');
  background-size: cover;
}

@-webkit-keyframes clouds{
  0%{
    margin-left: -100%;
  }
  100%{
    margin-left: 50%;
  }
}

@-webkit-keyframes sky{
  0%{
    background-position: left;
  }
  50%{
    background-position: right;
  }
  100%{
    background-position: left;
  }
}


@media (max-width: 1000px){
  .container .row.signup-main{
    width: 80%;
    margin: 0 auto;
  }
}


@media (max-width: 600px){
  html{
    font-size: 50%;
  }
  header section {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  header.row{
    margin-bottom: 0;
  }
  main section{
    width: 100%;
  }
  .container{
    width: 100%;
    padding: 0;
    border-top: 1px black;
  }
  h1.login-center{
    margin-top: 0;
  }
  h2{
    width: 100%;
    text-align: center;
  }
  main.signup-main{
    height: 100%;
    box-shadow: none;
    background: none;
  }
  #devise-shared{
    width: 100%;
    display: block;
    position: static;
    text-align: center;
  }
  .btn{
    position: relative;
  }
  .forgot_password{
    float: none;
    text-align: center;
  }
  a:link{
    color: #574331;
  }
  a:visited{
    color: #574331; 
  }
  .chirpy-form{
    margin-top: 30px;
  }
  main.home-page{
    padding: 0;
  }
  #logo-h2{
    color: #fff;
  }

}
